body { 
    font-size: 1.4em;
    font-family: Georgia, 'Times New Roman', Times, serif
}

main {
    margin: 1em 10em;
}

header.page-header {
    background-color: bisque;
}

h1.page-header-title, h3.section-title {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 0.2em;
}

h3.section-title {
    margin-top: 2em;
}

p.section-main-text {
    padding: 0 1em 1em 0;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
}