body { 
    font-size: 1.4em;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

main {
    margin: 0 20%;
}


/* add a blur effect to thew background, a picture of a park or something */
/* color the body element, and add a drop-shadow */


img.bone-gif, h1.page-header-title {
    width: 4em;
    height: auto;
    display: inline;
    vertical-align: middle;
}

header.page-header {

    border-bottom: 2px solid black;
}

h1.page-header-title, h3.section-title {
    font-family: sans-serif;
    padding-top: 2em;
}

section.page-content-section {
    margin: 2em 0;
}

p.section-main-text, p.section-main-text1 {
    border-bottom: 2px solid black;
    border-radius: 10px;
}

p.section-main-text {
    padding: 0 1em 1em 0;
    border-right: 2px solid black;
    border-radius: 0 0 10px 0;
}

a:hover {
    font-style: italic;
}

footer.page-footer {
    text-align: center;
    font-weight bold;
}

@media screen and (max-width: 480px) {
   body {
    font-size: 1em;
   }

    main {
        margin: 0 10%;
    }

    .page-header-title {
        font-size: 1.2em;
    }

    footer.page-footer {
        font-size: 0.8em;
    }



}
  